body{
    background-color: white;
    background-size: cover;

}
.navbar{
    width: 100%;
    height: 60px;
    
}
ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
.box1 {
    width: 100%;
    height: 600px;
    background-image: url(white.jpg);
    background-size: cover;
}

div img{
    width: 280px;
    height: 350px;

   margin-bottom: 100px;
   margin-top: -230px;
}

.texts h1{
    padding-right: 345px;
    padding-top: 80px;
}
.texts h2{
    padding-top: 20px;
}
.texts h3{
    padding-left: 80px;
}
.texts h4{
    padding-right: 140px;
    
}
.box2{
    display: flex;
    width: auto;
    height: 900px;
    background-color: rgb(255, 255, 255);
}
.box3 h3{
    width: 70px;
    height: 100px;
    background: rgb(255, 255, 255);

}
.card{
    width: auto;
    height: 900px;
    background-color: rgb(226, 234, 235);
    background-image: url(white.jpg);
}
.container-fluid{
    width: 100%;
    height: 50px;
    display: flex;
}

#mailus{
    background-color: rgb(53, 85, 228);
    width: auto;
    background-image: url(white.jpg);
    
}
#image1:hover{
transform: rotateX(2deg) scale(1.1);
transition: 1s;
box-shadow: 20px 20px 40px black;
z-index: 10;
}